<link rel="stylesheet" href="/sp18-hw2/app/assets/stylesheets/me.css">
<body>
	<h2>Name</h2>
	<p>Garrett Yamane</p>
	<h2>Hometown</h2>
	<p>San Carlos, CA</p>
	<h2>Year</h2>
	<p>Senior</p>
	<h2>Fun Fact</h2>
	<p>I am a first degree black belt in Tae Kwon Do. I am also most excited to learn about web development and hopefully be able to apply this knowledge in the future!</p>
</body>
